@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --font: 'Plus Jakarta Sans', sans-serif;
  
  --Main-Purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --Black: #000112;
  --very-dark-grey-dark-bg: #20212C;
  --Dark-Grey: #2B2C37;
  --lines-dark: #3E3F4E;
  --Medium-Grey: #828FA3;
  --lines-light: #E4EBFA;
  --light-grey-light-bg: #F4F7FD;
  --White: #FFFFFF;
  --Red: #EA5555;
  --red-hover: #FF9898;
  --black-transp: rgba(0, 0, 0, 0.5);
  --light-grey-line: rgba(130, 143, 163, 0.25);

  --rad-xxl: 100px;
  --rad-xl: 24px;
  --rad-lg: 20px;
  --rad-md: 8px;
  --rad-ms: 6px;
  --rad-sm: 4px;

  --fs-xl: 24px;
  --fs-lg: 18px;
  --fs-md: 15px;
  --fs-sm: 13px;
  --fs-xs: 12px;

  --lh-xl: 30px;
  --lh-lg: 23px;
  --lh-md: 19px;
  --lh-sm: 15px;

  --fw-bold: 700;
  --fw-light: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);

  --col-btn-primary: var(--Main-Purple);
  --col-btn-primary-hov: var(--main-purple-hover);
  --col-btn-destr: var(--Red);
  --col-btn-destr-hov: var(--red-hover);
  --col-checkbox-hov: var(--Main-Purple);
  --col-text-light: var(--Medium-Grey);
  --col-text-error: var(--Red);
  --col-btn-text-light: var(--White);
  --col-bg-modal: var(--black-transp);
  --col-input-bord: var(--light-grey-line);
}

body[data-theme='light'] {
  background-color: var(--light-grey-light-bg);
  --col-bg-light: var(--White);
  --col-btn-sec: rgba(99, 95, 199, 0.10);
  --col-btn-sec-hov: rgba(99, 95, 199, 0.25);
  --col-checkbox: var(--light-grey-light-bg);
  --col-text-dark: var(--Black);
  --col-line: var(--lines-light);
  --col-bg-addcol: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
}

body[data-theme='dark'] {
  background-color: var(--very-dark-grey-dark-bg);
  --col-bg-light: var(--Dark-Grey);
  --col-btn-sec: var(--White);
  --col-btn-sec-hov: var(--White);
  --col-checkbox: var(--very-dark-grey-dark-bg);
  --col-text-dark: var(--White);
  --col-line: var(--lines-dark);
  --col-bg-addcol: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%);
}

h1, button {
  padding: 0;
  margin: 0;
  border: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}